.landing-loading-container{
    height: 100vh;
    background: url(../../../assets/landing-loading-icon/loading.svg);
    background-color: #252525;
    background-repeat: no-repeat;
    background-position: center;
}
