.side-bar-container {
    background-color: #252525;
    text-align: center;
    box-shadow: 12px 12px 6px 1px rgba(#000000,.3);
    .logo{
        width:  7.5rem;
        object-fit: contain;
        margin: 1rem;
    }
    a {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: white;
        font-size: 0.8rem;
        background-color: transparent;
        
        &.active{
            background-color: black;
        }
    }

    .left-gradient{
        background: linear-gradient(to bottom, #DD166B,#722FD9);
        padding-left: 0.25rem;
    }
}