@import './components/styles';
.landing-page-section {
    height: 100vh;
}




.section-1 {
    background: url(../../../assets/sound-house.png), url(../../../assets/landing-page-background/landing-background-1.svg);
    background-position: top 2.5rem left 2.5rem, center;
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-color: #dd166b;

}

.section-2 {
    background: url(../../../assets/landing-page-background/background-2.svg);
    background-color: #000;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}


.branding {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}



.black-gradient {
    height: 10rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.02), black);
    width: 100%;
    position: absolute;
    bottom: -1rem;
}

.socials-buttons-container {
    display: flex;
    margin-bottom: 1rem;
}
.mb-1{
    margin-bottom: 1rem;
}

.landing-main-title {
    color: white;
    font-size: 4rem;
}
.landing-main-subtitle {
    color: white;
    font-size: 1.2rem;
}
.text-align-right{
    text-align: right;
}

.landing-page-button{
    background: transparent;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 1.2rem;
    text-decoration: underline;
}

