.bottom-player-container {
    width: 100%;
    height: 100px;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-color: #252525;
    display: grid;
    justify-content: center;
    align-items: stretch;
    box-shadow: 1px 1px 6px 0 rgba($color: black, $alpha: 0.5);
    grid-template-columns: repeat(12,1fr);
    // Todos los h3 color blanco
    & h3,
    span {
        color: white;
        font-size: 0.7rem;
    }
    .video-thumbnail {
        grid-column: 1 span;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .song-description-container {
        grid-column: 2 span;
        margin-left: 1rem;
        align-self: center;
        flex-grow: 1;
        
        .artist-name {
            font-size: 0.7rem;
            color: darken($color: white, $amount: 50%);
            margin-bottom: 0.25rem;
        }
        .song-subtitle-container {
            .song-subtitle {
                display: inline-block;
            }
            .favorite-container {
                margin-left: 1rem;
                display: inline-block;
                width: 10%;
            }
        }
    }
    .play-controls-container {
        grid-column: 6 span;
        justify-self: center;
        width: 100%;
        @include dflex-center;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        .row-icons-container {
            text-align: center;
        }
        .line-reproductor-container {
            @include dflex-center;
            align-items: center;
            justify-content: center;
            .line {
                margin: {
                    left: 1rem;
                    right: 1rem;
                }
                flex-grow: 1;
            }
            .time-count {
                color: white;
                font-size: 0.8rem;
            }
        }
    }
    .right-icons-container {
        grid-column: 2 span;
        flex-grow: 1;
        @include dflex-center;
    }
}
.bottom-player-hidden {
    display: none;
}