*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


$sizes:('lg':1280px,
  'md':1024px,
  'sm':540px,
);

$sides:('top':'t', 'right':'r', 'bottom':'b', 'left':'l');

@each $side,
$abbr in $sides {
  @for $i from 1 to 10 {
    .m#{$abbr}-#{$i} {
      margin-#{$side}: $i * 1rem;
    }

    .p#{$abbr}-#{$i} {
      padding-#{$side}: $i * 1rem;
    }
  }
}






@mixin vertical-primary-gradient {
  background: linear-gradient(to bottom, #BB135B, #000) fixed;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
}

@mixin button {
  cursor: pointer;
  text-decoration: underline;
}

@mixin border() {
  border: 1px solid white;
}

@mixin dflex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  @include button;
}

html{
  
  @include vertical-primary-gradient();
  height: 100%;
}
body {
  font-family: 'Quicksand', sans-serif;
}


@import './app';
@import './core/presentation/components/side-bar/styles';


@import './features/home-page/presentation/styles';
@import './features/page-not-found/presentation/styles';
@import './features/landing-page/presentation/styles';
@import './features/landing-loading-page/presentation/styles';
@import './features/loading-page/presentation/styles';
@import './features/select-genre-page/presentation/styles';
@import './features/browse/presentation/styles';
@import './features/bottom-player/presentation/styles';